* {
    /**@style * - Thiết lập box-sizing cho tất cả các phần tử.*/
    box-sizing: border-box;
}
body {
    /**@style body - Thiết lập hình nền, màu chữ cho toàn bộ trang.*/
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#board {
    /**@style #board - Thiết lập kích thước, margin, align-items, display, 
grid-template-columns, gap, border, background-color, backgroundimage, background-size, background-repeat, box-shadow cho bảng 
chơi game.*/
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(20, 0fr);
    gap: 0px;
    border: 15px solid transparent;
    border-image: url('../images/nau.jpg') 30 round;
    background-color: white; 
    background-color: transparent; /* Xóa màu nền trắng */
    background-image: url('../images/o.jpg'); /* Đường dẫn tới ảnh nền của bạn */
    background-size: cover; /* Ảnh nền sẽ phủ kín toàn bộ bảng */
    background-repeat: no-repeat; /* Ảnh nền sẽ không lặp lại */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.cell {
    /**@style .cell - Thiết lập border-radius, width, height, border, display, 
justify-content, align-items, font-size, transition, box-shadow cho mỗi 
ô trong bảng.*/
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.2s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.cell:active {
    /**@style .cell:active - Thiết lập transform cho mỗi ô khi được nhấp 
vào.*/
    transform: scale(0.9);
}

.cell.x {
    /**@style .cell.x - Thiết lập màu chữ, font-family, font-weight cho mỗi ô 
được đánh dấu là 'X'.*/
    color: #0000ff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.cell.o {
    /**@style .cell.o - Thiết lập màu chữ, font-family, font-weight cho mỗi 
ô được đánh dấu là 'O'.*/
    color: #ff0000;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

@keyframes blink {
    /**@style @keyframes blink - Định nghĩa animation 'blink' để thay đổi 
màu nền của ô.*/
    0% {
        background-color: #ffff99;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #ffff99;
    }
}

.cell.highlight {
    /**@style .cell.highlight - Áp dụng animation 'blink' cho mỗi ô được 
highlight.*/
    animation: blink 0.5s linear;
}
